<a href="https://colab.research.google.com/github/erick-huang15/Python_Exercises/blob/main/Abalone_Preprocessing_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer

In [7]:
data_path = '/content/drive/MyDrive/CD:Week 5: Intro to Machine Learning/abalone.data'
data = pd.read_csv(data_path)

In [9]:
data.head()

   M  0.455  0.365  0.095   0.514  0.2245   0.101   0.15  15
0  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
1  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
2  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
3  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7
4  I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.120   8

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4176 entries, 0 to 4175
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   M       4176 non-null   object
 1   0.455   4176 non-null   float64
 2   0.365   4176 non-null   float64
 3   0.095   4176 non-null   float64
 4   0.514   4176 non-null   float64
 5   0.2245  4176 non-null   float64
 6   0.101   4176 non-null   float64
 7   0.15    4176 non-null   float64
 8   15      4176 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [14]:
# this is to rename the columns by using the set_axis function
data.set_axis(['Sex','Length','Diameter_continuous','Height','Whole_weight','Shucked_weight','Viscera_weight','Shell_weight','Rings'],axis=1,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4176 entries, 0 to 4175
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sex                  4176 non-null   object
 1   Length               4176 non-null   float64
 2   Diameter_continuous  4176 non-null   float64
 3   Height               4176 non-null   float64
 4   Whole_weight         4176 non-null   float64
 5   Shucked_weight       4176 non-null   float64
 6   Viscera_weight       4176 non-null   float64
 7   Shell_weight         4176 non-null   float64
 8   Rings                4176 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [16]:
#format for ML and Train Test Split
X = data.drop(columns='Rings')
y = data['Rings']
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)

In [17]:
# this is to make column selectors
cat_selector = make_column_selector(dtype_include='object')
num_selector = make_column_selector(dtype_include='number')

In [18]:
# this is to instantiate transformers
scaler = StandardScaler()
ohe = OneHotEncoder(handle_unknown='ignore')

In [20]:
# create tuples for preprocessing the categorical and numeric columns
num_tuple = (scaler, num_selector)
cat_tuple = (ohe, cat_selector)

In [21]:
# this is to instantiate the columntransformer
from sklearn.compose import make_column_transformer
col_transformer = make_column_transformer(num_tuple, cat_tuple, remainder = 'passthrough')

In [22]:
# this is to fit the training data
col_transformer.fit(X_train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('standardscaler', StandardScaler(),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f15402f2d90>),
                                ('onehotencoder',
                                 OneHotEncoder(handle_unknown='ignore'),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f15402f2dd0>)])

In [24]:
# this is to transform both training and test sets
X_train_p = col_transformer.transform(X_train)
X_test_p = col_transformer.transform(X_test)

In [28]:
# this is to display the transform dataset in Numpy
X_train_p

array([[-1.54642176, -1.5561698 , -1.05355826, ...,  0.        ,
         0.        ,  1.        ],
       [ 0.79572536,  0.52191671,  0.7068688 , ...,  0.        ,
         0.        ,  1.        ],
       [ 0.25201264,  0.31917656,  0.35478338, ...,  1.        ,
         0.        ,  0.        ],
       ...,
       [-0.04075575,  0.21780648,  0.23742158, ...,  1.        ,
         0.        ,  0.        ],
       [ 0.41930886,  0.52191671,  0.23742158, ...,  1.        ,
         0.        ,  0.        ],
       [ 0.58660508,  0.57260174,  0.00269797, ...,  1.        ,
         0.        ,  0.        ]])

In [25]:
# this is to view the transformation by converting it to pandas and store it in a new variable
X_train_data = pd.DataFrame(X_train_p)
X_train_data.head()

          0         1         2         3  ...         6    7    8    9
0 -1.546422 -1.556170 -1.053558 -1.258947  ... -1.212341  0.0  0.0  1.0
1  0.795725  0.521917  0.706869  0.605245  ...  0.409117  0.0  0.0  1.0
2  0.252013  0.319177  0.354783  0.378850  ...  0.172355  1.0  0.0  0.0
3  1.172142  0.927397  0.824231  1.234461  ...  0.940037  1.0  0.0  0.0
4 -1.462774 -1.454800 -1.170920 -1.233452  ... -1.212341  0.0  0.0  1.0

[5 rows x 10 columns]

In [26]:
X_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3132 entries, 0 to 3131
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3132 non-null   float64
 1   1       3132 non-null   float64
 2   2       3132 non-null   float64
 3   3       3132 non-null   float64
 4   4       3132 non-null   float64
 5   5       3132 non-null   float64
 6   6       3132 non-null   float64
 7   7       3132 non-null   float64
 8   8       3132 non-null   float64
 9   9       3132 non-null   float64
dtypes: float64(10)
memory usage: 244.8 KB