<a href="https://colab.research.google.com/github/erick-huang15/Python_Exercises/blob/main/Loading_%26_Filtering_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Loading & Filtering Data Exercise

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
loading_filter_data = pd.read_excel("/content/drive/MyDrive/CD: Week 2: Pandas/RailsToTrails_National Count Data_week.xlsx")
loading_filter_data.head()
july_filter = loading_filter_data['Week of']>'2020-7-30'
loading_filter_data[july_filter].head()

   Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0     Week 1 2020-12-30  ...         NaN         NaN
31   Week 32 2020-08-03  ...         NaN         NaN
32   Week 33 2020-08-10  ...         NaN         NaN
33   Week 34 2020-08-17  ...         NaN         NaN
34   Week 35 2020-08-24  ...         NaN         NaN

[5 rows x 10 columns]

In [ ]:
#Select just data where the 'Change 2019-2020' column is greater than 100% (greater than 1).

change_filter = loading_filter_data['Change 2019-2020']>1
loading_filter_data[change_filter].head()

   Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
7     Week 8 2020-02-17  ...         NaN         NaN
11   Week 12 2020-03-16  ...         NaN         NaN
12   Week 13 2020-03-23  ...         NaN         NaN
13   Week 14 2020-03-30  ...         NaN         NaN
14   Week 15 2020-04-06  ...         NaN         NaN

[5 rows x 10 columns]

In [ ]:
#Put these together! Where there any weeks in the second half of the year (after July 31, 2020) where the change was greater than 100%?
date_change_filter = loading_filter_data.loc[july_filter & change_filter,:]
date_change_filter

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []