<a href="https://colab.research.google.com/github/erick-huang15/Python_Exercises/blob/main/Titanic_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

data_path = '/content/drive/MyDrive/CD: Week 2: Pandas/titanic - titanic.csv'
titanic_data = pd.read_csv(data_path)
titanic_data.head(2) # this is to to answer question 1 to display the head of the dataframe

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C

[2 rows x 12 columns]

In [ ]:
percent_survived = titanic_data['Survived'].mean() # this is to get the mean value of the survived column
print(f'The mean of the survival column is:',percent_survived)

The mean of the survival column is: 0.3838383838383838

In [ ]:
titanic_data.groupby('Sex')['Survived'].sum() # this is to get the total number of survived based on sex

Sex
female    233
male      109
Name: Survived, dtype: int64

In [ ]:
fare_filter = titanic_data['Fare']<10 # this is to filter those who paid less than $10 fare
filter_data = titanic_data.loc[fare_filter,:] # this is to store the filter in a variable
percent_survived = filter_data['Survived'].mean() # this is to get the percent survived of those who paid less than $10 fare
print(f'The percent survived for those who paid less than $10 fare is:',percent_survived)

The percent survived for those who paid less than $10 fare is: 0.19940476190476192

In [ ]:
survived_filter = titanic_data['Survived']==0 # this is to filter those we did not survive
filter_data = titanic_data.loc[survived_filter,:] # this is to store the filter in a variable
avg_age_survived = filter_data['Age'].mean() # this is to get the average of those who did not survive
print(f'The average age who did not survive is',avg_age_survived)

The average age who did not survive is 30.62617924528302

In [ ]:
survived_filter = titanic_data['Survived']==1 # this is to filter those we survived
filter_data = titanic_data.loc[survived_filter,:] # this is to store the filter in a variable
avg_age_survived = filter_data['Age'].mean() # this is to get the average of those who did not survive
print(f'The average age survive is',avg_age_survived)

The average age survive is 28.343689655172415

In [ ]:
survived_filter = titanic_data['Survived']==0 # this is to filter those we did not survive
filter_data = titanic_data.loc[survived_filter,:] # this is to store the filter in a variable
#filter_data
filter_data.groupby('Sex')['Age'].mean()

Sex
female    25.046875
male      31.618056
Name: Age, dtype: float64

In [ ]:
survived_filter = titanic_data['Survived']==1 # this is to filter those survived
filter_data = titanic_data.loc[survived_filter,:] # this is to store the filter in a variable
#filter_data
filter_data.groupby('Sex')['Age'].mean()

Sex
female    28.847716
male      27.276022
Name: Age, dtype: float64